.acc-wrapper{
  display: flex;
  min-height: 100vh;
  width: 100vw;
  justify-content: flex-start;  /* push content to top */
  align-items: center;          /* center horizontally */
  flex-direction: column;
  gap: 30px;
  padding-top: 30px; 
}

.acc-wrapper button{
  padding: 10px 20px;
  background: #40b155;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.accordion {
  width: 500px;
}

.item {
  background: #ea956a;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.acc-content {
  color: #ffffff;
  height: auto;
}